/* @import "tailwindcss"; */


@import "tailwindcss";

/* ===============================
   Partner Logo Auto Scroll
================================ */

@keyframes partner-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-partner-scroll {
  animation: partner-scroll 25s linear infinite;
}
